# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# Node / NPM / Vite / Build
node_modules/
npm-debug.log
yarn.lock
web/app/themes/your-sage-theme/public/build/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
